<!-- Sidebar -->
<div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <div align="center">
                <br/>
                <li class="sidebar-brand">
                        <a align="center" href="/">
                            <p class="kaushanSide">Leave the marks</p>
                        </a>
                </li>     
                <br/><br/>             
                <img src="images/logo.png" class="img-rounded img-responsive"> 
                <br/><br/><br/>
                <li>
                <a class="menus" align="center" href="/">Stories</a>
                </li>
                <li>
                <a class="menus" align="center" href="/">Share your own story</a>
                </li>
                <li>
                <a class="menus" align="center" href="/">Tech stack</a>
                </li> 
                <br/><br/>                               
                <a type="button" href="/login" class="btn btn-primary">Login</a>
                <a type="button" href="/register" class="btn btn-danger">Sign-up</a>
            </div>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->