<!DOCTYPE html>
<html>
    <head>
        <title>Dummy User Story</title>
        <% include partials/head.ejs %>
    </head>
    <body>

        <!-- #wrapper ENSURE ALL CONTENT INSIDE THIS-->
        <div id="wrapper">                
            
                
            <% include partials/sidebar.ejs %>    

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">

                                <p class="kaushanHead" align="center"><%- storyForEJS.title %></p>
                                <h4>Created by <code> <%- storyForEJS.author %></code></h4><br/><br/>
                                <blockquote class="mainLines"><%- storyForEJS.content %></blockquote>

                        </div>
                    </div>
                </div>
            </div>
                
        </div>
        <!-- /#wrapper -->
        
        <% include partials/jsincludes.ejs %>          
    </body>
</html>