p.kaushanHead {
    font-family: kaushan-script, cursive;
    font-size: 40px;
}

p.kaushanSide {
    font-family: kaushan-script, cursive;
    font-size: 20px;
}

.mainLines{
    font-size:30px;
}